<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mdstripe</name>
	<displayName><![CDATA[Stripe]]></displayName>
	<version><![CDATA[1.0.13]]></version>
	<description><![CDATA[Accept payments with Stripe]]></description>
	<author><![CDATA[Mijn Presta]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries/>
</module>
